.header__logo {
  padding: 30px 0 26px 0;
  margin-right: auto;
  text-decoration: none;
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .header__logo {
    padding: 20px 0;
  }
}

@media screen and (max-width: 700px) {
  .header__logo {
    font-size: 16px;
    padding: 16px 0;
  }
}

@media screen and (max-width: 700px) {
  .header_menu-open .header__logo {
    color: white
  }
}