@import url('./_black/header__auth-btn_logout_black.css');
@import url('./_white/header__auth-btn_logout_white.css');

.header__auth-btn.header__auth-btn_logout {
  padding-right: 45px;
}

.header__auth-btn_logout::after {
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  height: 16px;
  width: 18px;
  transform: translate(0, -50%);
}