.article__control_trash:after {
  background-image: url(../../../../images/trash-icon-normal.svg);
}

.article__control_trash:after:hover {
  background-image: url(../../../../images/trash-icon-hover.svg);
}


.article__control_trash:hover+.article__prompt:not(.article__prompt_disabled) {
  visibility: visible;
}