@import url('./__title/info__title.css');
@import url('./__number-of-articles/info__number-of-articles.css');
@import url('./__key-words/info__key-words.css');
@import url('./__text-bold/info__text-bold.css');

.info  {
  box-sizing: border-box;
  max-width: 1312px;
  width: 100%;
  padding: 0 40px;
  padding-top: 40px;
  padding-bottom: 56px;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .info {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}