@import url('./_save_unmarked/article__control_save_unmarked.css');
@import url('./_save_marked/article__control_save_marked.css');
@import url('./_trash/article__control_trash.css');
@import url('./_processing/article__control_processing.css');

.article__control {
  position: relative;
  width: 40px;
  margin-left: 5px;
  border: none;
  cursor: pointer;
}

.article__control:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}