@import url('./_auth/article__prompt_auth.css');
@import url('./_delete/article__prompt_delete.css');

.article__prompt {
  display: flex;
  align-items: center;
  visibility: hidden;
  margin-left: 5px;
  min-width: 90px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}