.article__date {
  margin: 0;
  margin-bottom: 12px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

@media screen and (max-width: 550px) {
  .article__date {
    margin-bottom: 10px;
  }
}