@import url('./_border-non-transparent/header_border-non-transparent.css');
@import url('./__wrapper/header__wrapper.css');
@import url('./__logo/header__logo.css');
@import url('./__menu-btn/header__menu-btn.css');
@import url('./__nav/header__nav.css');
@import url('./__link/header__link.css');
@import url('./__nav-items/header__nav-items.css');
@import url('./__nav-item/header__nav-item.css');
@import url('./__auth-btn/header__auth-btn.css');
@import url('./__auth-btn-logout-icon/header__auth-btn-logout-icon.css');
@import url('./__user-name/header__user-name.css');

@import url('./__overlay/header__overlay.css');

.header  {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 40px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0 16px;
  }
}