.search__description {
  margin: 0;
  margin-bottom: 64px;
  padding-right: 55px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .search__description {
    margin-bottom: 48px;
  }
}