.article__control_save_unmarked:after {
  background-image: url(../../../../images/save-icon-normal.svg);
}

.article__control_save_unmarked:hover:after {
  background-image: url(../../../../images/save-icon-hover.svg);
}


.article__control_save_unmarked:hover+.article__prompt:not(.article__prompt_disabled) {
  visibility: visible;
}